
.listing .listingTabs {
    display: flex;
    position: relative;
    z-index: 1;
} 

.listing .listingTabs p {
    background-image: linear-gradient(#053c05 10%, #175407 50%, #2c9310 60%, #157a05 100%);
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.listing .listingTabs p span:last-child{
    font-size: 18px;
}
.listing .listingTabs p span{    display: block;
    padding: 9px;
    padding-bottom: 0px;}
.listing p.active {
    background: #fff;
    color: #f86900;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #dad4d4 0%,#c7c7c7 38%, #fff 61%, #fff 100%);
    border-image-slice: 1;}

.listingDetails { 
    padding: 11px;
    padding-top: 45px;
    background: #fff;
    margin-top: -46px;
    border: 1px solid #acacac;
    min-height: 180px;
    border-radius: 3px;}
    .listingDetails ul{    margin: 10px;}