.carousal {
    display: block;
    position: relative;
}
.carousal .carousalBody{
    height: 550px;
    position: relative;
    z-index: 1;
}
.leftArrow, .rightArrow {
    position: absolute;
    width: auto;
    cursor: pointer;
    font-size: 27px;
    color: #FFF;
    z-index: 2;
    top: 48%;
    padding: 18px;
}

.leftArrow span, .rightArrow span{
    position: relative;
    top: 33%;
    background: #ffffff4f;
    border-radius: 26px;
    padding: 15px;
    padding-top: 7px;
    color: #ffffff;
    padding-bottom: 9px;
    padding-right: 17px;
    font-weight: bold;
}
.rightArrow{right:0}
.carousal .carousalBody *{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
}
.carousalBody p span{
    background-position: center center;
    background-size: cover;
}
.carousalBody p {
    display: none;
    margin: 0;
}
.carousalBody p.active {
    display: block;
}
