body, html {
    font-family: Century Gothic;
    font-weight: normal;
    height:100%;
    background:#000;
}

.center {
    text-align: center !important;
}

.paleGreen {
    background-color: #5cb55e;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.mainContentPadding {
    padding-top: 60px;
}

#header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #ffffffa6;
}

#header .logo {
    margin: 11px 0 0 20px;
}

.headerCart {
    margin-top: -10px;
}

footer {
    min-height: 60px;
}

menu {
    flex: 1;
}

menu ul {
    display: table;
    float: right;
}

menu ul li {
    list-style: none;
    padding: 0px 27px;
}

menu ul li {
    display: table-cell;
    height: 64px;
    vertical-align: middle;
}

menu ul li, menu ul li a {
    text-decoration: none;
    font-size: 15px;
    font-family: Century Gothic;
    color: #081c08;
}

menu ul li a:hover {
    color: #000;
}

.helpLine span {
    display: block;
}

.helpline-title {
    padding-right: 10px;
}

.helpline-body {
    padding-left: 0;
}

.helpline-body span {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
}

/* Banner Style */

.allPackages {
    display: block;
    height: 10px;
    padding-top: 370px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.banner {
    background-image: url('../../assets/homepageBanner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
    background-size: 100% 100%;
    height: 100%;
}

.bannerOther {
    background-image: url('../../assets/homepageBanner_inner.jpg');
}

/*Search Bar*/

.searchBarContainer {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.searchBarContainer div {
    padding: 9px 19px;
    width: 128px;
    border-right: 1px solid #8c8b8b26;
}

.searchBarContainer div:last-child {
    border: 0px;
}

.searchBarContainer input {
    width: 100%;
    height: 20px;
    padding: 1px 0;
    margin-top: 4px;
    border: 0;
}

.searchBarContainer input[type="submit"] {
    padding: 20px;
    margin: 0px;
    font-size: 16px;
    height: auto;
    background: #5cb593;
    border: 2px solid transparent;
    cursor: pointer;
}

.searchBarContainer div.searchButton {
    padding: 0;
}

/* Famous Packages*/

.famousPackages {
    margin-top: 20px;
}

.famousPackages span.borderBtm {
    color: #8e928f;
    border-bottom: 1px solid #e2dbdb;
    padding: 0 20% 20px 20%;
    font-weight: normal;
    word-spacing: 3px;
    letter-spacing: 0.04em;
}

.packageContainer {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.packageContainer div{
    width:30%;
}
.packageContainer div img{width:100%;border-radius: 5px;}
.famousPackages span:last-child{border-radius: 5px;}

.packageContainer div span {
    display: block;
    position: relative;
    top: -63px;
    background: #2f4a54;
    padding: 8px;
    padding-bottom: 4px;
    color: #fff;
}

/*About us Section*/

#aboutUs {
    background-color: #3e4245;
    padding-top: 30px;
}

#aboutUs span.borderBtm {
    color: #fff;
    border-bottom: 1px solid #63696d;
    padding: 0 20% 20px 20%;
    font-weight: normal;
    word-spacing: 3px;
    letter-spacing: 0.04em;
}

.aboutUsDesc {
    display: flex;
    margin-top: 20px;
}

.aboutUsDesc div {
    width: 40%;
    padding: 5%;
    line-height: 28px;
    color: #fff;
    font-size: 18px;
}

.socialMedia a  img{
    width: 35px;
    margin: 13px 0 0 10px;
}

/*Need Help*/

#needHelp {
    padding-top: 30px;
}
#contactmeans{
    background: rgb(255, 255, 255);
    display: block;
    float: left;
    width: 100%; 
}

#needHelp span.borderBtm {
    color: #000;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 20% 20px 20%;
    font-weight: normal;
    word-spacing: 3px;
    letter-spacing: 0.04em;
}

#needHelp form {
    width: 34%;
    float: left;
    margin: 60px 0 0 15%;
}

#needHelp address {
    width: 36%;
    float: left;
    margin: 49px 0 0 0;
    text-align: right;
    line-height: 31px;
    color: #3e4245;
    font-size: 18px;
    font-style: normal;
}
#needHelp address a{color:#000;text-decoration: none;}

#needHelp form input {
    display: block;
    margin-bottom: 16px;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 66%;
    font-size: 13px;
}

#needHelp form input[type="submit"] {
    width: 38%;
    font-size: 18px;
    background: #3e4245;
    color: #fff;
}

/*Search results*/

.searchResults {
    margin: 70px auto;
    background: #fff;
    min-height: 400px;
    border-radius: 7px;
    height: 100%;
}

.headTitle {
    font-weight: lighter;
    padding: 27px 0 0 0;
}

.resultCount {
    padding: 16px;
    text-align: right;
}

.searchResultListing {
    margin: 0 2%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.searchListElement {
    width: 270px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.searchListElement .likeAndCart {
    width: 15%;
    display: block;
    float: left;
    padding: 8% 3%;
    text-align: center;
}

.searchListElement .likeAndCart p {
    margin-bottom: 15px;
}

.listedPackageDetails {
    width: 96%;
    display: inline-block;
    margin: 0 1%;
    overflow: hidden;
    text-align: center;
}
.listedPackageDetails p:first-child{margin-bottom: 20px;}

.listedPackageDetails a {
    display: block;
}

.listedPackageDetails a img {
    display: block;
    border-radius: 7px;
    box-shadow: -4px 4px 6px 0px #888888;
    padding: 0px;
    width: 96%;
    margin: 3%;
}

.booking span {
    color: #0a4a9f;
    text-decoration: underline;
    cursor: pointer;
    padding: 2px 0;
}

.booking span:first-child {
    float: left;
    margin-left: 13px;
}

.booking span:last-child {
    float: right;
    margin-right: 13px;
}

/*Package Details*/

.packageDetails {
    background-color: #f5f5f5;
    padding: 14px 30px;
    border-radius: 6px;
    margin-top: 60px;
}

.titleDetailsPage {
    font-weight: lighter;
    padding: 27px 0 0 0;
    color: #1d4e14;
}

.detailSectionTitle {
    margin-top: 21px;
    margin-bottom: 18px;
    color: #1d4e14;
    font-size: 18px;
}

.detailSectionDescription {
    font-size: 15px;
    font-family: arial;
    color: #777d7d;
    line-height: 22px;
}
#packageOfferings {
    display: flex;
    padding: 5px;
    margin-top: 30px;
    border-top: 1px solid #eae7e7;
    background: #f1f1f196;
    padding-top: 10px;
}

#packageOfferings .fecilitypics, #packageOfferings .fecilitydetails {
    padding: 10px;
    width: 25%;
}

#packageOfferings .fecilitypics {
    width: 75%;
}
#costing li{
    margin: 0 0 0 20px;
    line-height: 26px;
}

.fecilitydetails h2 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 0 9px 0;
    color:#1d4e14;
}
.fecilitydetails div{
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 16px 0px;
    border-bottom: 1px solid #d8d8d8;
}
.fecilitydetails div:hover {
    background: #fdfdfd;
}
#packageOfferings .carousal{
    height: 364px;
}

#packageOfferings .leftArrow, #packageOfferings  .rightArrow{    
    height: 26%;
    font-size: 33px;
    margin: 18% 0 0 0;
}

.fecilitydetails img {
    width: 35px;
}

.signiningForm {
    border-top: 1px solid #eae7e7;
}

.signiningForm table {
    margin: 20px auto;
}

.signiningForm td {
    text-align: left;
    padding: 0 10px;
    line-height: 23px;
}

.signiningForm label {
    display: block;
    line-height: 30px;
}

.signiningForm input {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    font-size: 12px;
}

.signiningForm input[type="submit"] {
    padding: 5px 22px;
    font-size: 15px;
    background: #3e4245;
    color: #fff;
    margin-top: 26px;
    border: 0;
}
#callMeBack{
    position: fixed;
    top: 200px;
    right: 3%;
    font-size: 15px;
    text-align: center;
    background: url('../../assets/callBack.png');
    padding-top: 30px;
    padding-bottom: 28px;
    cursor: pointer;
    width: 74px;
    padding-left: 26px;
    color: #172703;
    padding-right: 21px;
    font-style: italic;
}
